.base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
}

.container {
  width: 90%;
  height: 90%;
}

.title {
  margin-left: 20px;
}

.buttons {
  margin-left: 20px;
}
